streamlit
pandas
openai
google-api-python-client
youtube-transcript-api
yt-dlp
openpyxl


# YouTube APIs
google-api-python-client
google-auth
google-auth-oauthlib
youtube_transcript_api

# Instagram (via scraping or public data)
beautifulsoup4
lxml

# Other utilities
tqdm
